<div *ngIf="characterDetail !== null && characterDetail !== undefined" class="card mb-2">
    <div class="card-header text-center text-white bg-dark">
        <strong>Name: </strong> {{characterDetail.name}}
    </div>
    <div class="card-body">
        <p class="card-text text-black"><strong>ID: </strong> {{characterDetail._id}}</p>
        <p class="card-text text-black"><strong>Slug: </strong> {{characterDetail.slug}}</p>

        <ng-container *ngIf="characterDetail.locations.length > 0">
            <p class="card-text text-black"><strong>Locations: </strong></p>
            <ol class="list-group scrolleable">
                <li *ngFor = "let location of characterDetail.locations" class="list-group-item">{{location}}</li>
            </ol>
        </ng-container>
    </div>
</div>
