<table class="table table-light table-bordered table-hover">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Name</th>
    </tr>
  </thead>
  <tbody>
    <tr [class.table-active]="i === currentSelectedRowIndex" *ngFor="let character of slicedCharacterLocations; let i = index" (click)="displayCharacterDetail(character, i)">
      <td>{{ character._id }}</td>
      <td>{{ character.name }}</td>
    </tr>
  </tbody>
</table>

<div class="d-flex justify-content-between p-2">
  <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [pageSize]="pageSize" (pageChange)="refreshCharacterLocations()" [boundaryLinks]="true">
      <ng-template ngbPaginationPages let-page let-pages="pages">
        <li class="ngb-custom-pages-item" *ngIf="pages.length > 0">
          <div class="mb-3 d-flex flex-nowrap px-2">
            <label id="paginationInputLabel" for="paginationInput" class="col-form-label me-2 ms-1">Page</label>
            <input
              #i
              type="text"
              inputmode="numeric"
              pattern="[0-9]*"
              class="form-control custom-pages-input"
              id="paginationInput"
              [value]="page"
              (keyup.enter)="selectPage(i.value)"
              (blur)="selectPage(i.value)"
              (input)="formatInput($any($event).target)"
              aria-labelledby="paginationInputLabel paginationDescription"
              style="width: 4rem"
            />
            <span id="paginationDescription" class="col-form-label text-nowrap px-2"> of {{pages.length}}</span>
          </div>
        </li>
      </ng-template>
  </ngb-pagination>

  <select class="custom-select d-none d-md-block" [(ngModel)]="pageSize" (ngModelChange)="refreshCharacterLocations()">
    <option [ngValue]="2">2 items</option>
    <option [ngValue]="4">4 items</option>
    <option [ngValue]="6">6 items</option>
  </select>
</div>
