<div *ngIf="pathDetail !== null && pathDetail !== undefined" class="card mb-2">
    <div class="card-header text-center text-white bg-dark">
        <strong>Name: </strong> {{pathDetail.name}}
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-sm">
                <p class="card-text text-black"><strong>ID: </strong> {{pathDetail._id}}</p>
                <p class="card-text text-black"><strong>Alive: </strong> {{alive ? 'Yes' : 'No'}}</p>
                <p class="card-text text-black" *ngIf="!alive"><strong>Dead in chapter: </strong> {{deathPath?.from}}
                </p>
                <p class="card-text text-black"><strong>Cities visited in order: </strong></p>
                <ul *ngFor="let city of visitedCities">
                    <li>{{city}}</li>
                </ul>
            </div>
            <div class="col-sm">
                <p class="card-text text-black"><strong>Ordered paths: </strong></p>

                <ng-container *ngFor="let path of orderedPaths">
                    <ngb-accordion #acc="ngbAccordion">
                        <ngb-panel>
                            <ng-template ngbPanelHeader>
                                <button ngbPanelToggle class="accordion-button">
                                    <span><strong>From: </strong> {{path.from ?? '-'}}</span>
                                    <span><strong>&emsp;To: </strong> {{path.to ?? '-'}}</span>
                                    <span><strong>&emsp;Alive: </strong> {{path.alive ? 'Yes' : 'No'}}</span>
                                </button>
                            </ng-template>
                            <ng-template ngbPanelContent>
                                <div class="table-responsive">
                                    <table class="table table-light table-bordered table-hover">
                                        <thead>
                                            <tr>
                                                <th scope="col">Latitude</th>
                                                <th scope="col">Longitude</th>
                                                <th scope="col">City</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let subpath of path.path">
                                                <td>{{ subpath[0] }}</td>
                                                <td>{{ subpath[1] }}</td>
                                                <td>{{ subpath[2] }}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </ng-template>
                        </ngb-panel>
                    </ngb-accordion>
                </ng-container>

                <ng-container *ngFor="let path of orderedPaths">

                </ng-container>
            </div>
        </div>
    </div>
</div>
